<div class="row">
  <%= render partial: 'admin/shared/navtab' %>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event User</th>
            <th scope="col">Event Location</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <th scope="row"><%= item.id %></th>
              <td><%= link_to item.title, item_path(item) %></td>
              <td><%= item.user.name %></td>
              <td><%= item.location %></td>
            </tr>
          <% end %>
        </tbody>
    </table>

  </div>
</div>