<div class="col-md-7">
  <div>
    <ul class="nav nav-tabs">
      <h2><%= @user.name %></h2>
      <li role="presentation"><%= link_to '我建立的活動', user_path(@user) %></li>
      <li role="presentation" class="active"><%= link_to '參與討論的活動', comments_user_path(@user) %></li>
      <li role="presentation"><%= link_to '追隨的活動' %></li>
      <li role="presentation"><%= link_to '喜歡的活動' %></li>
    </ul>
  </div>
  <%= render partial: 'shared/user_profile', locals: { user: @user } %>
</div>
<div class="col-md-5 text-center">
  <br>
  <h3><%= @user.name %> 參與討論的活動</h3>
  <% @commented_items.each do |item| %>
    <h2><%= link_to item.title, item_path(item) %></h2>
    <p>[ <%= item.genre.name%> ]</p>
  <% end %>
</div>