<div>
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to '活動列表', items_path %></li>
    <li role="presentation"  class="active"><%= link_to '人物專欄', users_path %></li>
  </ul>
</div>

<% @users.each do |user| %>
<div class="col-md-4">
  <h3><%= link_to user.name, user_path(user) %></h3>
  <ul class="list-unstyled  list-inline">
    <li><strong><%= user.items.size %></strong> 已建立的活動</li>
    <li><strong><%= user.comments.size %></strong> 參與討論的活動</li>
  </ul>
  <% if user.avatar? %>
    <%= image_tag user.avatar.url(:thumb) %>
  <% else %>
    <img src="https://api.fnkr.net/testimg/100x100/00CED1/FFF/?text=img+placeholder">
  <% end %>
  <hr>
</div>
<% end %>

<div class="text-center">
  <%= paginate @users %>
</div>

