<div class="col-md-6">
  <h2><%= @item.title %></h2>
  <h4>
    [ <%= @item.genre.name %> ]
    <%= render partial: "shared/like", locals: { item: @item } %>
  </h4>
  <p>時間： <%= @item.date %>地點：<%= @item.location %></p>
  <p> 主辦人：<%= @item.user.name %></p>
  <p><%= @item.intro %></p>
  <% if @item.user_id == current_user.id || current_user.admin? %>
    <%= link_to 'Edit', edit_item_path(@item), class: 'badge badge-primary' %>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to 'Trash It', item_path(@item), method: :delete, data: { confirm: 'Are you sure?'}, class: 'badge badge-danger' %>
  <% end %>
  <br>
  <hr>

  <div class="register">
    <h3>目前有 <%= @item.registers_count %> 報名</h3>
    <% if @item.register?(current_user) || @item.user_id == current_user.id || current_user.admin? %>
       <% @item.registers.each do |register| %>
        <% if current_user == register.user %>
          <h3>您在<%= register.created_at.strftime("%Y-%m-%d, %H:%M") %>已報名此活動，如欲更改請與主辦人聯絡</h3>
          <hr>
        <% end %>
         <% if @item.user_id == current_user.id || current_user.admin? %>
          <h2>報名列表</h2>
          <h4><%=link_to register.user.name, user_path(register.user) %> 在 <em><%= time_ago_in_words(register.created_at) %></em> 報名</h4>
          <p>留言：<%= register.content %></p>
            <hr>
        <% end %>
      <% end %> 
    <% else %>
      <%= form_for [@item, @register] do |f| %>
        <h2>即刻報名</h2> <br>
        <div class="form-group">
          <%= f.label :content, '請填寫簡單句子，確認你不是機器人 ：)' %>
          <%= f.text_area :content, class: 'form-control', placeholder: '按下送出後，及報名成功' %>
        </div>   
        <%= f.submit '送出', class: 'btn btn-default' %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="col-md-6">
  <div class="col-md-offset-2">
    <div class="comment-form">
    <h3>Question：</h3>
      <%= form_for [@item, @comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "提問或留言", class: 'form-control' %>
          <br>
          <%= f.submit class: 'btn btn-success' %>  
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>    
        </div>
      <% end %>
    </div>
    <div class="comments">
      <h3>Discusstion：</h3>
        <% @item.comments.each do |comment| %>
          <p><%= simple_format comment.content %></p>
          <em><%= time_ago_in_words(comment.created_at) %> </em>
          <% if  comment.user_id == current_user.id %>
            <%= link_to 'Destory', item_comment_path(@item, comment), method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          <hr>
        <% end %>
    </div>
  </div>
</div>
