<!DOCTYPE html>
<html>
  <head>
    <title>Person</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-inverse">
      <div class="container">
      <%= link_to 'Person', root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><%= link_to 'New Item', new_item_path %></li>
          <li><%= link_to 'About Me', welcomes_about_me_path %></li>
        <% end %>
      </ul>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to '後台', admin_genres_path %></li>
            <li><p class="navbar-text">Hi, <%= current_user.name %></p></li>
            <li><%= link_to 'User Profile', user_path(current_user) %></li>
            <li><%= link_to 'Setting', edit_user_registration_path %></li>
            <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Join', new_user_registration_path %></li>
            <li><%= link_to '登入', user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>  
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
